.container{
    background: #B36050;
    height: 47px;
    color: #F1D3B9;
    font-size: 17px;
    line-height: 40px;
    text-align: center;
}

body{
    margin: 0%;
}

.container2{
    color: #B4604D;
    font-size: 18px;
    gap: 40px;
    display: flex;
    justify-content: center;
    line-height: 60px;
}

.section{
    width: 500px;
    display: flex;
}

.bold{
    display: flex;
    display: flex-start;
    width: 100px;
}

.img2{
    width: 1349px;
}

.container3{
    background: #A9AE8D;
    padding: 70px;
    justify-content: center;
    color: #F6F4EC;
    text-align: center;
}

.bold2{
    font-size: 18px;
}

.bold3{
    font-size: 33px;
    line-height: 100px;
}

button{
    background-color: #B4604D;
    width: 100px;
    height: 35px;
    top: 9px;
    left: 20px;
    color: #FFFFFF;
    border-color: #B4604D;
}

.main{
    color: #B4604D;
    font-size: 23px;
    text-align: center;
}

.img3{
    margin-left: 90px;
}

.img4{
    margin-left: 90px;
}

main{
    background-color: cornsilk;
    height: 790px;
    
}

nav{
    background-color: cornsilk;
}

.img5{
    margin-inline-end: 0px;
    margin-right: 1150px;
}

.section3{
    margin-right: 230px;
}

.section4{
    margin-right: 360px;
}

.section5{
    margin-right: 330px;
}

.section6{
    margin-right: 220px;
}

.section7{
    margin-right: 270px;
}

.section8{
    margin-right: 170px;
}

.img6{
    justify-content: center;
    display: flex;
}