@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Flex:opsz@8..144&display=swap');

*{
    padding: 0%;
    margin: 0%;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.container{
    background: #B36050;
    height: 47px;
    color: #F1D3B9;
    font-size: 17px;
    line-height: 40px;
    text-align: center;
    font-family: Roboto;
}

.container2{
    color: #B4604D;
    font-size: 18px;
    gap: 40px;
    display: flex;
    justify-content: center;
    line-height: 60px;
    font-family: Roboto;
}

ul{
    display: flex;
}

.section{
    width: 500px;
    display: flex;
}

.bold{
    display: flex;
    display: flex-start;
    width: 100px;
    font-family: Roboto;
}

.img2{
    width: 1349px;
}

.container3{
    background: #A9AE8D;
    padding: 70px;
    justify-content: center;
    color: #F6F4EC;
    text-align: center;
    font-family: Roboto;
}

.bold2{
    font-size: 18px;
}

.bold3{
    font-size: 33px;
    line-height: 100px;
}

button{
    background-color: #B4604D;
    width: 100px;
    height: 35px;
    top: 9px;
    left: 20px;
    color: #FFFFFF;
    border-color: #B4604D;
}

.main{
    color: #B4604D;
    font-size: 23px;
    text-align: center;
    font-family: Roboto;
}

.img3{
    margin-left: 90px;
}

.img4{
    margin-left: 90px;
}

main{
    background-color: cornsilk;
    height: 790px;
    
}

nav{
    background-color: cornsilk;
}

.img5{
    margin-inline-end: 0px;
    margin-right: 1150px;
}

.section3{
    margin-right: 230px;
}

.section4{
    margin-right: 360px;
}

.section5{
    margin-right: 330px;
}

.section6{
    margin-right: 220px;
}

.section7{
    margin-right: 270px;
}

.section8{
    margin-right: 170px;
}

.img6{
    justify-content: center;
    display: flex;
    margin: auto;
}

.section9{
    background-image: url(/img/image\ 3.png);
    background-repeat: repeat-y;
    border: 1px solid red;
    height: 407px;
    width: 1200px;
    margin: auto;
}

.bold4{
    color: aliceblue;
    font-family: Roboto;
    background-color: #DF9B7A;
    display: flex;
    margin-top: 330px;
    padding: 20px;
    font-size: 20px;
}

.bold5{
    font-size: 18px;
    font-family: Roboto;
    margin-left: 600px;
}

.img6{
    height: 750px;
}

.section10{
    display: flex;
    color: #B45F4D;
    font-family: Roboto;
    background-color: #F1D3B9;
    padding: 100px;
}

.bold6{
    border: 1px solid rgb(255, 255, 255);
    width: 400px;
    height: 335px;
    display: flex;
    line-height: 30.4px;
    top: 214px;
    margin: auto;
}

.bold8{
    font-size: 30px;
    margin-left: 180px;
    inset-inline: bottom;
    line-height: 40.6px;
}

.bold7{
    margin-left: 31px;
}

.main2{
    border: 1px solid rgb(238, 238, 238);
    width: 700px;
    height: 750px;
    margin-left: 180px;
    background-color: aliceblue;
}

footer{
    margin-top: 1500px;
}

h1{
    text-align: center;
    font-family: Roboto;
}

.img7{
    border: 2px solid rgb(255, 255, 255);
}

.footer2{
    text-align: center;
}

.footer3{
    background-color: #F6F4EC;
    height: 300px;
    font-family: Roboto;
    font-size: 14px;
    color: #B36050;
    text-decoration: none;
}

.footer-section{
    border: 2px solid #F6F4EC;
    height: 128px;
    width: 213px;
}

.footer-section2{
    border: 2px solid #F6F4EC;
    height: 128px;
    width: 213px;
}

.bold11{
    border: 2px solid #B45F4D;
    width: 93px;
    height: 40px;
}

.bold12{
    border: 2px solid #B45F4D;
    width: 364px;
    height: 40px;
    margin-left: 100px;
}


